@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ak2i6k');
  src:  url('../fonts/icomoon.eot?ak2i6k#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ak2i6k') format('truetype'),
    url('../fonts/icomoon.woff?ak2i6k') format('woff'),
    url('../fonts/icomoon.svg?ak2i6k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
// Base styling for all icons
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: $socials-font-size;
	line-height: $navbar-height;
	color: $socials-font-color;
	padding: 0 10px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

// Base styling for social icons
.icon-mail:before {
  content: "\ea85";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-feed:before {
  content: "\ea9b";
}

// Base styling for our arrows
.icon-arrow-right:before {
  content: "\ea3c";
}
.icon-arrow-down:before {
  content: "\ea3e";
}
.icon-arrow-left:before {
  content: "\ea40";
	margin-right: 10px;
}

// Base styling for social icons with the :hover psuedoclass
[class^="icon-"].socials, [class*=" icon-"].socials:hover{
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-feed:hover {
	color: #ff7900;
}

.icon-instagram:hover {
	color: #7C3FCA;
}

.icon-mail:hover {
	color: #E1D3C4;
}

a:hover .icon-arrow-down{
  color: $comic-nav-hover;
}

a:hover .icon-arrow-right{
  color: $comic-nav-hover;
}
